{% extends "hang_man.html" %}
    {% block body %}
         <div class="row">
             <div class="col-lg-8">
                    <img src="/static/imgs/HangMan6.png" height="55%" width="40%" alt="Banner" class="img-responsive">
             </div>
             <div class="col-md-4">
                 <div>
                    {% for n in range(hm.word_length) %}
                        <span> _____ </span>
                    {% endfor %}
                 </div>
                 <form action="{{ url_for('add_char') }}" method=post class=add_char>
                     <div class="form-inline">
                     <label>Enter a letter:</label>
                     <div class="form-group">
                          <input tabindex="0" autofocus required tabindex="0" type="text" maxlength="1" class="form-control" name="letter">
                     </div>
                     </div>
                     <p><button type="submit" class="btn btn-success">Submit</button></p>
                 </form>
                 <div>
                     {% set alphaList= ['a','b','c','d','e','f','g','h','i','j','k','l','m',
                                          'o','p','q','r','s','t','u','v','w','x','y','z'] %}
                     {% for l in alphaList %}
                        <span class="active-letter">{{l}}</span>
                     {% endfor %}
                 </div>
             </div>
         </div>
    {% endblock %}