{% extends "hang_man.html" %}
    {% block body %}
      <div class="jumbotron" style="padding-top:0px;">
         <div class="row">
             <div class="col-lg-6">
                <img src="/static/imgs/HangMan6.png" height="90%" width="80%" alt="Banner" class="img-responsive">
             </div>
             <div class="col-lg-6">
                 <div>
                     ____ ____ ____ ____ ____ ____
                 </div>
                 <form action="{{ url_for('add_char') }}" method=post class=add_char>
                     <div class="form-group">
                          <label>Enter a letter:{{word}}</label>
                          <input type="text" size="1" class="form-control" name="letter">
                     </div>
                     <p><button type="submit" class="btn btn-success">Submit</button></p>
                 </form>
             </div>
         </div>
      </div>
    {% endblock %}