{% extends "new_game.html" %}
{% block body %}
         <div class="row">
             <div class="col-lg-6">
                 <br/><br/>
                 <h3  class="alert alert-primary" >You Won!</h3>
                 <iframe src="https://giphy.com/embed/i4sRqzf1csb3q" width="480" height="454" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/figure-8-i4sRqzf1csb3q">via GIPHY</a></p>
             </div>
             <div class="col-lg-6">
                 <br/><br/>
                 <h4>Ready to Play again?</h4>
             </div>
         </div>
{% endblock %}